.contentchats{
    display: flex;
    overflow: hidden;
    height: 99vh;
    width: 100%;
    background-color: #f0f0f0;

}

.prtechats{
    width: 23%;
    
    
}
.partechat{
    width: 76%;
    margin-left: 0.9%;
}

/* Estilos para pantallas móviles */
@media screen and (max-width: 768px) {
    .contentchats {
      display: block;
    }
  
    .partechat {
      display: none;
    }
  
    .prtechats {
      width: 100%;
      /* otros estilos necesarios para móviles */
    }
  }